<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 product-vignette">
  <div class="picture">
    <a href="{% path_to product %}">
      <img src="/web/image/product.product/{{product.associations.product_variant_ids[0]}}/image" class="img-responsive" alt="{{ product.name }}">
    </a>
  </div>
  <h2><a href="{% path_to product %}">{{ product.name }}</a></h2>
  <p class="price">{{ product.list_price }} {{ product.currency_id._display_name }}</p>
</div>
