---
title: Product template

listed: false

# true if the page is published
published: true

# content type that this page is templatizing
content_type: ooor_entries
---
{% extends layouts/default %}

{% block content %}

  <div class="container main-content">
    <div class="row">
      <div class="col-md-6 product-image">
        <img src="/web/image/product.product/{{product.associations.product_variant_ids[0]}}/image" class="img-responsive" alt="{{ product.name }}">
      </div>
      <div class="col-md-6 product-description">
        <h2>{{ product.name }}</h2>
        <div class="description">
          {{ product.description }}
        </div>
        <div class="price">
          {{ product.list_price }} {{ product.currency_id._display_name }}
        </div>
        <div>
          <form action="/shop/cart/update" class="js_add_cart_variants" data-attribute_value_ids="{{product.associations.product_variant_ids | json}}" method="POST">
                <!-- NOTE you can copy a valid token to test, but ultimately we need https://github.com/akretion/ooorest/issues/5 -->
                <input name="csrf_token" value="{{ session.csrf_token }}" type="hidden">
                <div class="js_product">
                      <input class="product_id" name="product_id" value="{{product.associations.product_variant_ids[0]}}" type="hidden">

                      <!-- TODO implement missing features here: variant selector, numer of item, offer... -->
                <div class="css_quantity input-group oe_website_spinner" contenteditable="false">
                    <a href="#" class="mb8 input-group-addon js_add_cart_json">
                        <i class="fa fa-minus"></i>
                    </a>
                    <input class="form-control" data-min="1" name="add_qty" value="1" data-oe-id="680" data-oe-model="ir.ui.view" data-oe-field="arch" data-oe-xpath="/data/xpath/div/input[1]" type="text">
                    <a href="#" class="mb8 input-group-addon float_left js_add_cart_json">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

                <button id="add_to_cart" class="btn btn-primary btn-lg mt8" type"submit">Add to Cart</button>
                </div>
            </form>

        </div>
      </div>
    </div>

  {% if product.alternative_product_ids.size > 0 %}
    <div class="related-products">
      <h4>Related Products</h4>
      {% paginate product.alternative_product_ids by 4 %}
      <div class="row">
        <div class="col-md-12">
          {% for related_product in paginate.collection %}
            {% include 'product' with related_product %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="pagination">
            {{ paginate | default_pagination: "previous_label:<i class='fa fa-chevron-left'></i>", "next_label:<i class='fa fa-chevron-right'></i>" }}
          </div>
        </div>
      </div>
      {% endpaginate %}
    </div>
  {% endif %}

  </div>
{% endblock %}
